.button{
  display: flex;
  align-items: center;
  padding: 1rem;
}
button{
  padding: .5rem;
  width: 100%;
  text-align: center;
  border: none;
  background: rgb(124, 124, 212);
  color: white;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
button:focus{
  outline: none;
}

button:disabled{
  background: #888;
  cursor: not-allowed;
}